{% extends 'base_layout.html' %}
{% block content %}
<div class="main">
  <div class="main-content">
    <div class="container-fluid">
  	   <h3 class="page-title">Debes agregar al menos uno a la lista</h3>
  			  <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading">
                  <h3 class="panel-title">Ingresa los datos requeridos</h3>
								</div>
                <form class="" action="" method="post">
                  {% csrf_token %}
                <div class="panel-body">
                {{form}}
                </div>
                <div class="panel-footer">
									<div class="row">
										<div class="col-md-12 text-right">
                      <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                    </div>
									</div>
                </form>
								</div>
								</div>
							</div>
          </div>
        </div>
      </div>
    </div>
     {% include "Scripts.html" %}

{% endblock %}
